.clubsPages header {
    background-color: var(--color-primary-10);
    padding: 67px;
    
}
.clubsPages header .ClubHeader {
    height : 300px;
    width: 100%;
    display: flex;
    align-items: center;
}
.clubsPages header .ClubHeader .clubstitrebox{
   display: flex;
   align-items: center;
    gap: 3em;
}
.clubsPages header .ClubHeader .clubicon {
    width: 150px;
    aspect-ratio: 1;
    border-radius: 12px;
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
}
.clubsPages header .ClubHeader .clubicon > div {
    width: 60%;
    aspect-ratio: 1;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.clubsPages header .ClubHeader .clubstitle {
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}
.clubsPages header .ClubHeader .clubstitle button {
    padding: 12px 18px;
    border-radius: .4rem;
    background-color: var(--color-primary);
    color: white;
    outline: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.clubsPages .contenu {
    display: grid;
    grid-template-columns: 1fr 25em;
    padding: 32px 0;
}
.clubsPages .contenu .right .asidebar {
    border: 1px solid silver;
    padding: 1.3em;
    padding-bottom: 0;
}
.clubsPages .contenu .right .asidebar ul {
   padding-left: 0;
}
.clubsPages .contenu .right .asidebar li {
   list-style: none;
   padding: 18px 0;
}
.clubsPages .contenu .right .asidebar li a {
   text-decoration: none;
   color: #333;
   display: flex;
   align-items: center;
   gap: 18px;

}
.clubsPages .contenu .right .asidebar li a span:nth-child(2) {
     flex: 1;
 }
.clubsPages .contenu .right .asidebar li a .icon {
    width: 45px;
   height: 45px;
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
}

.clubsPages .contenu .right .asidebar li+li {
    border-top: 1px solid silver;
}


.leftContenu {
    width : 80%
}


.memberContent {
    display : grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-top: 2em;
}
.memberContent .member {
    display : flex;
    width: 100%;
    border: 1px solid rgb(211, 211, 211);
    min-height: 275px;
    border-radius: 7px;
    overflow: hidden;
}
.memberContent .member .memberImage {
    width: 40%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.memberContent .member .infos {
    flex: 1;
    padding: 1rem;
}