.navBar {
    display: flex;
    align-items: center;
    height: 82px;
    background-color: var(--color-white);
    padding: 0 24px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navBarContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    display: flex;
    height: 72px;
    object-fit: contain;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 18px;
}
.navigation ul {
    display: flex;
    align-items: center;
}
.navigation li {
    list-style: none;
    padding: 12px 20px;
}
.navigation li a {
    text-decoration: none;
    color: var(--color-gray-85);
}