@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Wix+Madefor+Display:wght@400;500;600;700;800&display=swap');

:root {
  --color-primary-10 : #F7F1FE;
  --color-primary-25 : #CDABF7;
  --color-primary-40 : #A56AF1;
  --color-primary : #7b24ea;
  --color-primary-70 : #5711B1;
  --color-primary-85 : #350B6B;
  --color-primary-100 : #1E063C;

  --color-gray-85 : #262626;
  --color-gray-100 : #000;
  --color-white : white;

  --btn-border-radius : 7px;
  --border-radius-principal : 16px;
  --border-radius-secondary : 12px;

}

.h1 {
  display: block;
  font-size: calc(36px + 1.5vmin);
  line-height: 1.1;
  font-weight: 700;
}

.h2 span {
  display: block;
  width: 100%;
  margin-top: 12px;
}
.h2 span img{
  width: 20vmax;

}
.h2 {
  display: block;
  font-size: calc(24px + 1vmin);
  line-height: 1;
  font-weight: 800;
}
.h3 {
  display: block;
  font-size: calc(18px + 1vmin);
  font-weight: 800;
}
.h4 {
  display: block;
  font-size: 22px;
  font-weight: 600;
}
.p{
  display: block;
  font-size: 20px;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  /* font-family:Inter; */
  font-size: calc(10px + 1vmin);
}


body {
  margin: 0;
  font-family: Inter, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#header {
  background-color: var(--color-primary-10);
  overflow: hidden;
}
#vision {
  overflow: hidden;
  padding: 140px 0;
}
#programme {
  overflow: hidden;
  padding: 140px 0;
  background-color: var(--color-primary-10);
  position: relative;
}

#suite-programme {
  position: relative;
  display: flex ;
  justify-content: center;
}



footer {
  background-color: var(--color-primary-10);
}
footer * {
  color: white;
}
footer section:last-child {
  background-color: #E52087;
  padding: 32px 0;
}
footer section:last-child .copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer section:last-child .copyright * {
  color: white;
}

button {
  padding: 2vmin 4vmin;
  font-size: calc(7px + 1vmin);
  border-radius: 30px ;
  border: 1px solid transparent;
  font-weight: 600;
  color: #0061cf;
  cursor: pointer;
  transition: all .3s ease-in-out;
}
button:hover {
  border: 1px solid rgb(200, 211, 214);
}